.app {
    height: 100vh;
    display: flex;
    background-color: #020230;
    color: white;
}

.main {
    width: 70%;
    top: 100px;
    background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(2,2,50,0.7)),  url("./assets/chris.jpg") center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    vertical-align: text-top;
}

.top{
    height: 70%;
    position: relative;

}

.timer{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
    left: 80px;

}

.bottom {
    height: 30%;

}

.trivia {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.question {
    width: 80%;
    background: linear-gradient(#100241, black);
    border: 2px solid white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}

.answers{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.answer{
    width: 40%;
    padding: 10px;
    text-align: center;
    background: linear-gradient(#0e0124, #22074d);
    border: 1px solid white;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 300px;
    margin: 0 10px 20px 10px;
    cursor: pointer;
}

.answer:hover, .answer.active {
    background: mediumblue;
}

.answer.correct {
    animation: correct 2s ease forwards;
}

@keyframes correct{
    0%, 22%, 42% {
        background: mediumblue;
    }
    20%, 40%, 60% {
        background: linear-gradient(#0e0124, #22074d);        
    }
    62%, 100%{
        background: green;
    }    
}

.answer.wrong {
    animation: wrong 2s ease forwards;
}

@keyframes wrong{
    0%, 22%, 42% {
        background: mediumblue;
    }
    20%, 40%, 60% {
        background: linear-gradient(#0e0124, #22074d);        
    }
    62%, 100%{
        background: red;
    }    
}

.pyramid {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.moneyList {
    list-style: none;   
    width: 100%;
    padding: 20px;    
}

.moneyListItem {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.moneyListItem.active {
    background-color: teal;
}

.moneyListItemNumber {
    font-size: 18px;
    font-weight: lighter;
    width: 30%;
}

.moneyListItemAmount {
    font-size: 20px;
    font-weight: 300;
}

.endText {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.start{
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    justify-content: space-around;
}
/* 
.bottomContainer{
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 420px;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    justify-content: space-around;
} */

.startInput{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}

.startInput:focus{
    outline: none;
}

.startButton{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    background-color: lightgreen;

}

.chirsleft {
    transform: scaleX(-1);
    width: 350px;
    flex-direction: column;
    align-items: right;
    position: absolute;
    top: 120px;
    bottom:0;
    left:-600px;
    right:0px;
}

.chirsright {
    width: 350px;
    flex-direction: column;
    align-items: right;
    position: absolute;
    top: 120px;
    bottom:0;
    left:500px;
    right:0px;
}

.inputValue{
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 420px;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    justify-content: space-around;
}

.topContainer {
    position: absolute;
    bottom: -20px;
}

.chrisName {
    position: relative;
    margin-left: 125px;
    margin-bottom: 50px;
}

.theGame {
    margin-top: -80px;
    width: 900px;
}